{{ define "comprarbonos" }}
<!DOCTYPE html>
<html lang="es">

    {{ template "head" . }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AExperience</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head> <!-- fin de head -->

<body>
    <!-- Se abre un div en menu.html y header.html y se cierra en index -->
    {{ template "menu" . }}
    {{ template "header" . }}

        <div class='container'  onload='loadcontainer()'>
            <h1 id="title" class="centro">Bonos</h1><br>
                <form method="POST" action="/reservas/comprarbono">
                    {{ with .Params.Bonos }}
                    <div class="modal-body mx-0">
                        <div class="md-form mb-0">
                            {{ range . }}
                            <label class="col-md-10"  id="seleccion">
                                <input class="col-md-0" type="radio" name="Sesiones" value="{{ .Sesiones }}"> {{ .Sesiones }} sesion/es</input>
                            </label>
                            <h4 class="col-md-0"  id="seleccion">{{ .Precio }} €</h4><br>
                            {{ end }}
                            <br>
                        <div>
                            <h3 class="centro">Pago</h3><br>
                            <!-- Efectivo -->
                            <label class="col-md-1"></label>
                            <label id="seleccion" class="col-md-4">
                                <input class="col-md-1" type="radio" name="tipodepago" value=1 required> En efectivo
                            </label>
                            <!-- Transferencia -->
                            <label class="col-md-1"></label>
                            <label id="seleccion" class="col-md-5">
                                <input class="col-md-1" type="radio" name="tipodepago" value=2> Por transferencia
                            </label>
                        </div>
                        <br><br>
                        <div class="d-flex justify-content-center">
                            <button class="bt btn-primary" type="submit" value="Comprar" id="boton">Comprar</button>
                        </div>
                    </div>
                        </div>
                    {{ end }}
                </form>
        </div>

        </div><!--Cierre de menu-->
    </div><!--Cierre de Header-->

    {{ template "footer" }}

    <!-- Scroll al botón superior-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Cerrar sesión -->
    {{ template "cerrarsesion" }}

</body>
</html><!--comprarBonos -->
{{ end }}