{{ define "index" }}
    {{ template "header" }}
    {{ template "menu"  }}
    <h2> Registradas </h2>
    <div class="container">
      <div id="ConsumoBonosTableContainer"></div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var spanishMessages =  {
                serverCommunicationError: 'Ocurrió un error en la comunicación con el servidor.',
                loadingMessage: 'Cargando registros...',
                noDataAvailable: 'No hay datos disponibles!',
                editRecord: 'Editar registro',
                areYouSure: '¿Confirma?',
                save: 'Guardar',
                saving: 'Guardando',
                cancel: 'Cancelar',
                error: 'Error',
                close: 'Cerrar',
                cannotLoadOptionsFor: 'No se pueden cargar las opciones para el campo {0}',
                pagingInfo: 'Mostrando registros {0} a {1} de {2}',
                pageSizeChangeLabel: 'Registros por página',
                gotoPageLabel: 'Ir a página'
            };
            $('#ConsumoBonosTableContainer').jtable({
                messages: spanishMessages, //Lozalize
                title: 'Listado de Consumo de Bono',
                paging: true, //Enable paging
                pageSize: 10, //Set page size (default: 10)
                sorting: true, //Enable sorting
                defaultSorting: 'Fecha ASC', //Set default sorting
                //selecting: true, //Enable selecting
                //multiselect: true, //Allow multiple selecting
                //selectingCheckboxes: true, //Show checkboxes on first column
                //selectOnRowClick: false, //Enable this to only select using checkboxes
                // Ver como aplicar selección en pagina jtables.org
                actions: {
                    listAction: '/consumoBonos/list',
                    updateAction: '/consumoBonos/update',
                    createAction: '/consumoBonos/create'
                },
                fields: {
                    ID: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    Fecha: {
                        title: 'Fecha',
                        width: '8%',
                        type: "date",
                        create: false,
                        edit: false,
                        displayFormat: "dd-mm-yy"
                    },
                    Sesiones: {
                        title: 'Sesiones',
                        width: '8%'
                    },
                    IDUsuario: {
                        title: 'Usuario',
                        width: '15%'
                    },
                    IDEspacio: {
                        title: 'Espacio',
                        width: '8%'
                    },
                    IDAutorizado: {
                        title: 'Autorizado',
                        width: '8%'
                    }
                }
            });
            //Load student list from server
            $('#ConsumoBonosTableContainer').jtable('load');
        });
    </script>
    {{ template "footer" }}
{{ end }}
