<!DOCTYPE html>
<html lang="es">
{{ define "horasreservables" }}
{{ template "head" .}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>AExperience</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="static/css/stylenewsletter.css">

<!-- Add aditional link -->
</head> <!-- fin de head -->

<!-- Se abre un div en menu.html y header.html y se cierra en index -->
{{ template "menu" .}}
{{ template "header" .}}



<body>
    <!-- <h2> Registradas </h2> -->
    <div class="container">
        <div >
    <h1 id="titlereserva">Reserva de horas</h1>
    <form method="POST" action="/reservapabellonpista/create">
      <label> Horarios </label> <br>
      {{ range .Params.Horasreservada }}
       <input  type="checkbox" name="ch{{ .ID }}" value="{{if eq .Reservado  1 }}0{{else}}{{ .Hora}}{{end}}" {{if eq .Reservado  1 }}Checked disabled="true" {{end}}>{{ .Hora }}</input><br>
      {{ end }}
      
   <input type= hidden name="espacio" value="{{ .Params.Espacio }}">
   <input type= hidden name="fechabusqueda" value="{{ .Params.Fechabusqueda }}">
   
<br />
  <br />
  <button id = "botonreserva" type="submit" value="Reservar">Reservar</button>
  
</form>

      
</form>
  
    


</html>
{{ end }}
