{{ define "index" }}
    {{ template "header" }}
    {{ template "menu"  }}
    <h2> Registradas </h2>
    <div class="container">
      <div id="UsuarioTableContainer"></div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var spanishMessages =  {
                serverCommunicationError: 'Ocurrió un error en la comunicación con el servidor.',
                loadingMessage: 'Cargando registros...',
                noDataAvailable: 'No hay datos disponibles!',
                addNewRecord: 'Crear nuevo registro',
                editRecord: 'Editar registro',
                areYouSure: '¿Confirma?',
                deleteConfirmation: 'El registro será eliminado. ¿Confirma?',
                save: 'Guardar',
                saving: 'Guardando',
                cancel: 'Cancelar',
                deleteText: 'Eliminar',
                deleting: 'Eliminando',
                error: 'Error',
                close: 'Cerrar',
                cannotLoadOptionsFor: 'No se pueden cargar las opciones para el campo {0}',
                pagingInfo: 'Mostrando registros {0} a {1} de {2}',
                canNotDeletedRecords: 'No se puede borrar registro(s) {0} de {1}!',
                deleteProggress: 'Eliminando {0} de {1} registros, procesando...',
                pageSizeChangeLabel: 'Registros por página',
                gotoPageLabel: 'Ir a página'
            };
            $('#UsuarioTableContainer').jtable({
                messages: spanishMessages, //Lozalize
                title: 'Listado de Usuarios',
                paging: true, //Enable paging
                pageSize: 10, //Set page size (default: 10)
                sorting: true, //Enable sorting
                defaultSorting: 'Nif ASC', //Set default sorting
                //selecting: true, //Enable selecting
                //multiselect: true, //Allow multiple selecting
                //selectingCheckboxes: true, //Show checkboxes on first column
                //selectOnRowClick: false, //Enable this to only select using checkboxes
                // Ver como aplicar selección en pagina jtables.org
                actions: {
                    listAction: '/usuario/list',
                    deleteAction: '/usuario/delete',
                    updateAction: '/usuario/update',
                    createAction: '/usuario/create'
                },
                fields: {
                    ID: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    Nombre: {
                        title: 'Nombre',
                        width: '20%'
                    },
                    Nif: {
                        title: 'Nif',
                        width: '15%'
                    },
                    Email: {
                        title: 'Email',
                        width: '15%'
                    },
                    Tipo: {
                        title: 'Tipo',
                        width: '8%',
                        options: '/usuario/getoptionsRoles'
                    },
                    Telefono: {
                        title: 'Teléfono',
                        width: '10%'
                    },
                    SesionesBonos: {
                        title: 'SesionesBonos',
                        width: '8%'
                    },
                    Newsletter: {
                        title: 'Newsletter',
                        width: '8%',
                        type: 'radiobutton',
                        options: { '0': 'Si', '1': 'No' }
                    },
                    FechaBaja: {
                        title: 'FechaBaja',
                        width: '8%'
                    }
                }
            });
            //Load student list from server
            $('#UsuarioTableContainer').jtable('load');
        });
    </script>
    {{ template "footer" }}
{{ end }}
