{{ define "linkjtable" }}
<link href="/static/js/themes/metro/blue/jtable.css" rel="stylesheet" type="text/css" />
<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" 
        rel="stylesheet" type="text/css" />
<link href="/static/js/jtable.min.css" rel="stylesheet" type="text/css" /> 
<link href="/static/js/localization/jquery.jtable.es.js" rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
<script src="/static/js/jquery.jtable.min.js" type="text/javascript"></script>
{{ end }}