<!DOCTYPE html>
<html lang="es">

{{ define "menu" }}
<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Logo -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Logo -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">AExperience</div>
    </a>

    <!-- Separacion del menu -->
    <hr class="sidebar-divider my-0">

    <!-- Inicio -->
    <li class="nav-item active">
      <a class="nav-link" href="index">
        <i class="fas fa-fw fa-home"></i>
        <span>Inicio</span></a>
    </li>

    <!-- Separacion del menu -->
    <hr class="sidebar-divider">

    {{ with .Menu }}
    {{ if eq .Despliega 1 }}
    {{ range . }}
    <!-- Nav Item - Menu Desplegable -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
        aria-expanded="true" aria-controls="collapseUtilities">
        <i class="{{ .Icono }}"></i>
        <span>{{ .ParentTitle }}</span>
      </a>
      <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          {{range . }}
          <a class="collapse-item" href="{{ .Enlace }}">{{ .NomEnlace }}</a>
          {{ end }}
        </div>
      </div>
    </li>
    {{ end }}<!-- Cierre de range. -->

    <!-- Separacion del Menu -->
    <hr class="sidebar-divider">
    {{ else }}
    <!-- Nav Item - Menu Simple -->
    <li class="nav-item">
      <a class="nav-link" href="{{ .Enlace }}">
        <i class="{{ .Icono }}"></i>
        <span>{{ .ParentTitle }}</span>
      </a>
    </li>

    <!-- Separacion del Menu -->
    <hr class="sidebar-divider">

    {{ end }}<!-- Cierre if -->
    {{ end }}<!-- Cierre with .Menu -->

    <!-- Sidebar Toggler (Sidebar) (Recoger Menu) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul><!-- End of Sidebar -->

  <!-- Enlaces entre tablas -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Collapse menu -->
  <script src="static/js/sb-admin-2.min.js"></script>


{{ end }}<!-- Cierre define menu -->