<!DOCTYPE html>
<html lang="es">

  {{ define "paginavacia" }}

  {{ template "head" }}

<body id="page-top">

  <!-- Se habre un div en menu.html y header.html y se cierra en index -->
  {{ template "menu" }}
  {{ template "header" }}

</div><!--Cierre de menu-->
</div><!--Cierre de Header-->

  {{ template "footer"  }}

  <!-- Desplazarse al botón superior-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {{ template "cerrarsesion"  }}



  {{ template "enlacesfooter" }}

</body>

</html>


{{ end }}
