<!DOCTYPE html>
<html lang="es">

{{ define "pagospendientes" }}

{{ template "head" }}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>AExperience</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
{{ template "linkjtable" }}
<!-- Add aditional link -->
</head> <!-- fin de head -->

<body>

    <!-- Se abre un div en menu.html y header.html y se cierra en index -->
{{ template "menu" . }}
{{ template "header" }}


    <!-- <h2> Registradas </h2> -->
    <div class="container" onload='loadcontainer()'>
        <div id="pagosPendientesTableContainer"></div>
    </div>

    {{ with .AuthWeb }}

    <script type="text/javascript">
        $(document).ready(function () {
            var spanishMessages = {
                serverCommunicationError: 'Ocurrió un error en la comunicación con el servidor.',
                loadingMessage: 'Cargando registros...',
                noDataAvailable: '¡No hay datos disponibles!',
                addNewRecord: 'Crear nuevo registro',
                editRecord: '¿Desea confirmar el pago?',
                areYouSure: '¿Confirma?',
                deleteConfirmation: 'El registro será eliminado. ¿Confirma?',
               // deleteConfirmation: 'El usuario será dado de baja. ¿Continuar?',
                cancel: 'Cancelar',
                save: 'Guardar',
                saving: 'Guardando',
                deleteText: 'Eliminar',
                //deleteText: 'Dar de baja',
                deleting: 'Eliminando',
                //deleting: 'Dando de baja',
                error: 'Error',
                close: 'Cerrar',
                cannotLoadOptionsFor: 'No se pueden cargar las opciones para el campo {0}',
                pagingInfo: 'Mostrando registros {0} a {1} de {2}',
                canNotDeletedRecords: 'No se puede borrar registro(s) {0} de {1}!',
                deleteProggress: 'Eliminando {0} de {1} registros, procesando...',
                pageSizeChangeLabel: 'Registros por página',
                gotoPageLabel: 'Ir a página'
            };
            $('#pagosPendientesTableContainer').jtable({
                messages: spanishMessages, //Lozalize
                title: 'Listado de Pagos Pendientes',
                paging: true, //Enable paging
                pageSize: 10, //Set page size (default: 10)
                sorting: true, //Enable sorting
                columnSelectable: true,
                defaultSorting: 'Nombre ASC', //Set default sorting
                security:
                {
                    antiforgerytoken: "{{ .CsrfSecret }}"
                },
                selecting: true, //Enable selecting
                //multiselect: true, //Allow multiple selecting
                //selectingCheckboxes: true, //Show checkboxes on first column
                //selectOnRowClick: false, //Enable this to only select using checkboxes
                // Ver como aplicar selección en pagina jtables.org
                actions: {
                    listAction: '/pagospendientes/list',
                    updateAction: '/pagospendientes/confirmarpago'
                },
                fields: {
                    Id: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    IdReserva: {
                        title: 'Reserva',
                        width: '10%',
                        options: '/reservas/getoptions',
                        //type: "date",
                        displayFormat: "dd-mm-yy",
                        readonly: true
                    },
                    FechaPago: {
                        title: 'Fecha',
                        width: '10%',
                        type: "date",
                        displayFormat: "dd-mm-yy",
                        readonly: true
                    },
                    IdTipopago: {
                        title: 'Tipo de pago',
                        width: '15%',
                        options: '/tipospago/getoptions',
                        readonly: true
                    },
                    NumeroTarjeta: {
                        title: 'Nº de tarjeta',
                        width: '15%',
                        readonly: true
                    },
                    Importe: {
                        title: 'Importe',
                        width: '10%',
                        readonly: true,
                    },
                    Referencia: {
                        title: 'Referencia',
                        width: '15%',
                    }
                }
            });
            //Load student list from server
            $('#pagosPendientesTableContainer').jtable('load');
        });
    </script>
    {{ end }}
    </div><!--Cierre de menu-->
    </div><!--Cierre de Header-->

    {{ template "footer" }}

    <!-- Scroll al botón superior-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Cerrar sesión -->
    {{ template "cerrarsesion" }}

</body>
</html>
{{ end }}