<!DOCTYPE html>
<html lang="es">

{{ define "pagos" }}

{{ template "head" . }}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>AExperience</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
{{ template "linkjtable" }}
<!-- Add aditional link -->
</head> <!-- fin de head/ -->


<body>
    
    <!-- Se habre un div en menu.html y header.html y se cierra en index -->
{{ template "header" .  }}
{{ template "menu" . }}


    <div class='container'  onload='loadcontainer()'>
        <div id="PagosTableContainer"></div>
    </div>

    {{ with .AuthWeb }}

    <script type="text/javascript">
        function loadcontainer(){
            var token = request.getResponseHeader('X-CSRF-Token');
            console.log("Success! The token is: ", token);
            var myHeaders = new Headers();
            myHeaders.append('X-CSRF-Token', token);
         };
     
        $(document).ready(function () {
            var spanishMessages = {
                serverCommunicationError: 'Ocurrió un error en la comunicación con el servidor.',
                loadingMessage: 'Cargando registros...',
                noDataAvailable: 'No hay datos disponibles!',
                addNewRecord: 'Crear nuevo registro',
                editRecord: 'Editar registro',
                areYouSure: '¿Confirma?',
                deleteConfirmation: 'El registro será eliminado. ¿Confirma?',
                // deleteConfirmation: 'El usuario será dado de baja. ¿Continuar?',
                save: 'Guardar',
                saving: 'Guardando',
                cancel: 'Cancelar',
                deleteText: 'Eliminar',
                // deleteText: 'Dar de baja',
                deleting: 'Eliminando',
                // deleting: 'Dando de baja',
                error: 'Error',
                close: 'Cerrar',
                cannotLoadOptionsFor: 'No se pueden cargar las opciones para el campo {0}',
                pagingInfo: 'Mostrando registros {0} a {1} de {2}',
                canNotDeletedRecords: 'No se puede borrar registro(s) {0} de {1}!',
                deleteProggress: 'Eliminando {0} de {1} registros, procesando...',
                pageSizeChangeLabel: 'Registros por página',
                gotoPageLabel: 'Ir a página'
            };
            $('#PagosTableContainer').jtable({
                messages: spanishMessages, //Lozalize
                title: 'Listado de Pagos',
                paging: true, //Enable paging
                pageSize: 10, //Set page size (default: 10)
                sorting: true, //Enable sorting
                defaultSorting: 'FechaPago ASC', //Set default sorting
                token : '{{ .CsrfSecret }}',
                security:
                {
                    antiforgerytoken: "{{ .CsrfSecret }}"
                },
                //selecting: true, //Enable selecting
                //multiselect: true, //Allow multiple selecting
                //selectingCheckboxes: true, //Show checkboxes on first column
                //selectOnRowClick: false, //Enable this to only select using checkboxes
                // Ver como aplicar selección en pagina jtables.org
                actions: {
                    listAction: '/pagos/list',
                    updateAction: '/pagos/update',
                    createAction: '/pagos/create',
                    deleteAction: '/pagos/delete'
                },
                fields: {
                    Id: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    IdReserva: {
                        title: 'Reserva',
                        width: '10%',
                        type: 'combo',
                        options: '/reservas/getoptions'
                    },
                    FechaPago: {
                        title: 'Fecha',
                        width: '15%',
                        type: "date",
                        create: false,
                        edit: true,
                        displayFormat: "dd-mm-yy"
                    },
                    IdTipopago: {
                        title: 'Tipo de pago',
                        width: '20%',
                        type: 'combo',
                        options: '/tipospago/getoptions'
                    },
                    Importe: {
                        title: 'Importe',
                        width: '15%'
                    },
                    NumeroTarjeta: {
                        title: 'Nº de tarjeta',
                        width: '15%'
                    }
                }
            });
            //Load student list from server
            $('#PagosTableContainer').jtable('load');
        });
    </script>
    {{ end }} 
    </div><!--Cierre de menu-->
    </div><!--Cierre de Header-->

    {{ template "footer" }}

    <!-- Scroll al botón superior-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Cerrar sesión -->
    {{ template "cerrarsesion" }}

</body>
  
</html>
<!--pagos -->
{{ end }}