<!DOCTYPE html>
<html lang="es">


  {{ define "registro" }}

  {{ template "head" }}

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Fila anidada dentro del cuerpo de la tarjeta -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">¡Crea una cuenta!</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Nombre">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Dni">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Dirección de Correo">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Fecha de Nacimiento">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Contraseña">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repetir contraseña">
                  </div>
                </div>
                <a href="login" class="btn btn-primary btn-user btn-block">
                  Registrar
                </a>
                <hr>
                <a href="index" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Registrar con Google
                </a>
                <a href="index" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Registrar con Facebook
                </a>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="olvido-contrasena">¿Has olvidado tu contraseña?</a>
              </div>
              <div class="text-center">
                <a class="small" href="login">¿Ya tienes una cuenta? ¡Iniciar sesión!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  {{ template "linkfooter" }}

</body>

</html>

{{ end }}
