<!DOCTYPE html>
<html lang="es">

{{ define "tipospago" }}

{{ template "head" }}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>AExperience</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
{{ template "linkjtable" }}
<!-- Add aditional link -->
</head> <!-- fin de head -->




<body>
    <!-- Se abre un div en menu.html y header.html y se cierra en index -->
    {{ template "menu" . }}
    {{ template "header" }}


    <!-- <h2> Registradas </h2> -->
    <div class="container">
        <div id="TiposPagoTableContainer"></div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var spanishMessages = {
                serverCommunicationError: 'Ocurrió un error en la comunicación con el servidor.',
                loadingMessage: 'Cargando registros...',
                noDataAvailable: 'No hay datos disponibles!',
                addNewRecord: 'Crear nuevo registro',
                editRecord: 'Editar registro',
                areYouSure: '¿Confirma?',
                deleteConfirmation: 'El registro será eliminado. ¿Confirma?',
                save: 'Guardar',
                saving: 'Guardando',
                cancel: 'Cancelar',
                deleteText: 'Eliminar',
                deleting: 'Eliminando',
                error: 'Error',
                close: 'Cerrar',
                cannotLoadOptionsFor: 'No se pueden cargar las opciones para el campo {0}',
                pagingInfo: 'Mostrando registros {0} a {1} de {2}',
                canNotDeletedRecords: 'No se puede borrar registro(s) {0} de {1}!',
                deleteProggress: 'Eliminando {0} de {1} registros, procesando...',
                pageSizeChangeLabel: 'Registros por página',
                gotoPageLabel: 'Ir a página'
            };
            $('#TiposPagoTableContainer').jtable({
                messages: spanishMessages, //Lozalize
                title: 'Tipos de Pago',
                paging: true, //Enable paging
                pageSize: 10, //Set page size (default: 10)
                sorting: true, //Enable sorting
                defaultSorting: 'nombre ASC', //Set default sorting
                //selecting: true, //Enable selecting
                //multiselect: true, //Allow multiple selecting
                //selectingCheckboxes: true, //Show checkboxes on first column
                //selectOnRowClick: false, //Enable this to only select using checkboxes
                // Ver como aplicar selección en pagina jtables.org
                actions: {
                    listAction: '/tipospago/list',
                    deleteAction: '/tipospago/delete',
                    updateAction: '/tipospago/update',
                    createAction: '/tipospago/create'
                },
                fields: {
                    Id: {
                        key: true,
                        create: false,
                        edit: false,
                        list: false
                    },
                    Nombre: {
                        title: 'Nombre',
                        width: '20%'
                    }
                }
            });
            //Load student list from server
            $('#TiposPagoTableContainer').jtable('load');
        });
    </script>
    </div><!--Cierre de menu-->
    </div><!--Cierre de Header-->

    {{ template "footer" }}

    <!-- Scroll al botón superior-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Cerrar sesión -->
    {{ template "cerrarsesion" }}

</body>
</html>
{{ end }}

