.topbar {
    margin-bottom: 20px;
  }

/*FIX Container Table */
#wrapper #content-wrapper #content {
    /* flex: 1 0 auto; */
    flex: 0 0 auto !important;
}

.sidebar .sidebar-brand {
  text-transform: unset !important;
}