.title {
    text-align: center !important;
    color: #e41f18;
}
.fondo{
    /* background-color: #e41f18; */
    background-color: white !important;
}

.ventana{
    flex: 0 0 50% !important;
    max-width: 50% !important;
    box-shadow: #e41f18 !important;
}

.body {
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    text-align: center !important;
}

.boton{
    background: #e41f18;
    color: #fff;
    background-color: #e41f18;
    border-color: #e41f18;
    width: 125px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    float: center;
    margin-right: 15px;
  }

.temas{
    text-align: center;
    font-size: 20px;
    color: black !important;
}

.color{
    color: black;
    
}

.borderrojo{
    -webkit-box-shadow: 0 1rem 3rem #8a0a03  !important;
    box-shadow: 0 1rem 3rem #8a0a03 !important;
}

